@import url(default.css);/*default.css호출*/
header{
    height:100px;
}
header h1{
    float:left;
    padding: 22px 0 0 0;
}
header nav{
    float:right;
}
header nav ul{
    float:left;
}
header nav ul li{
    float:left;
}
header nav ul li a{
    display:block;
    padding:20px 10px 10px 10px;
    margin:15px 6px 10px 6px;
    color:#1d1d1d;
    font-size:20px;
}
header nav .market{
    float:left;
    display:block;
    padding:3px 15px 3px 39px;
    margin: 34px 0 0 70px;
    border:1px solid #13A94F;
    border-radius:25px;
    background-image:url(../images/market_ico.png);
    background-position:left 14px top 8px;
    background-repeat:no-repeat;
    color:#13A94F;
    font-size:18px;
}
.visual{
    padding:0 40px;
    color:#ffffff;
    line-height:1;
    text-align:right;
    font-family:'Noto Serif KR', serif;
    text-shadow:0 0 3px rgba(0,0,0,0.4);
}
.visual .inner{
    height:780px;
    background-image:url(../images/vis_bg.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.visual strong{
    display:block;
    padding:345px 0 8px 0;
    font-size:18px;
    font-weight:400;
}
.visual h2{
    font-size:55px;
    font-weight:300;
}
.category .title{
    margin:136px 0 23px 0;
}
.category .title h2{
    color:#1d1d1d;
    line-height:0.9;
    font-size:35px;
    font-weight:300;
}
.category ul li{
    float:left;
    width:290px;
    margin:0 20px 0 0;
}
.category ul li:last-child{/*li의 마지막 child*/
    margin-right:0;
}
.category ul li strong{
    display:block;
    margin:11px 0 0 0;
    font-weight:400;
}
.network{
    height:487px;
    margin:165px 0 131px 0;
    background-image:url(../images/net_bg.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    color:#ffffff;
    text-align:center;
}
.network strong{
    display:block;
    padding:133px 0 0 0;
    font-weight:400;
}
.network h2{
    padding:0 0 59px 0;
    line-height:1;
    font-size:35px;
    font-weight:700;
}
.network a{
    display:inline-block;
    padding:6px 19px;
    margin: 0 24.5px;
    border:1px solid #ffffff;
}
.community{
    margin:0 0 176px 0;
}
.community .title{
    margin:136px 0 23px 0;
}
.community .title h2{
    color:#1d1d1d;
    line-height:0.9;
    font-size:35px;
    font-weight:300;
}
.community .list .colgroup1{
    float:left;
    width:630px;
    margin:0 20px 0 0;
}
.community .list .colgroup2{
    float:left;
    width:630px;
}
.community .list ul li{
    float:left;
}
.community .list ul li a{
    display:block;
    width:305px;
    height:230px;
    padding:20px 27px 0 27px;
    background-color:#f4f4f4;
}
.community .list ul li a em{
    display:block;
}
.community .list ul li a strong{
    display:block;
    margin:10px 0 76px 0;
    line-height:1.5;
    height:3em;
    overflow:hidden;
    font-size:20px;
    font-weight:700;
}
.community .list ul li a .date{
    display:block;
    color:#666666
}
.community .list ul li a .date .write{
    position:relative;
    padding:0 20px 0 0;
}
.community .list ul li a .date .write::after{
    position:absolute;
    right:8px;
    top:7px;
    width:1px;
    height:10px;
    background-color:#666666;
    content:"";
}
.community .list ul li.green a{
    margin:0 20px 0 0;
    background-color:#13A94F;
    color:#ffffff;
}
.community .list ul li.blue a{
    margin:0 20px 0 0;
    background-color:#005BAE;
    color:#ffffff;
}
.community .list ul li.image01 a{
    width:630px;
    height:396px;
    margin: 20px 0 0 0;
    background-image:url(../images/commu02.png);
    background-position:center center;
    background-repeat:no-repeat;
    color:#ffffff;
}
.community .list ul li.image02 a{
    width:630px;
    height:396px;
    margin:0 0 20px 0;
    background-image:url(../images/commu01.png);
    background-position:center center;
    background-repeat:no-repeat;
    color:#ffffff;
}
.community .list ul li.date_w a .date{
    color:#ffffff;
}
.community .list ul li.date_w a .date .write::after{
    background-color:#ffffff;
}
.community .list ul li.image01 a em,
.community .list ul li.image02 a em{
    margin:274px 0 0 0;
}
.community .list ul li.image01 a strong,
.community .list ul li.image02 a strong{
    display:block;
    margin:0 0 7px 0;
    line-height:1.5;
    height:auto;
    overflow:hidden;
    font-size:20px;
    font-weight:700;
    white-space:nowrap;
    text-overflow: ellipsis;
}
footer{
    color:rgba(255,255,255,0.8);
}
footer .f_head{
    height:60px;
    background-color:#1A1A1A;
}
footer .f_head ul{
    float:left;
}
footer .f_head ul li{
    float:left;
}
footer .f_head ul li.pri{
    font-weight:700;
}
footer .f_head ul li a{
    display:block;
    position:relative;/*after에 준 absolute의 정렬의 기준*/
    padding:18px 10px;
}
footer .f_head ul li a::after{
    display:block;
    position:absolute;
    right:-2px;
    top:26px;
    width:1px;
    height:10px;
    background-color:rgba(255,255,255,0.2);
    content:"";
}
footer .f_head ul li:first-child a{
    padding-left:0;
}
footer .f_head ul li:last-child a::after{
    display:none;
}
footer .f_head .quest{
    display:block;
    float:right;
    padding:4px 13px;
    margin:13px 0 0 0;
    border:1px solid #ffffff;
}
footer .f_body{
    background-color:#0A0A0A;
}
footer .f_body .info{
    padding: 26px 0;
}
footer .f_body ul{
    margin-bottom:4px;
}
footer .f_body .info ul li{
    float: left;
    position:relative;
    margin:0 36px 0 0;
}
footer .f_body .info ul li::after{
    display:block;
    position:absolute;
    right:-17px;
    top:7px;
    width:1px;
    height:10px;
    background-color:rgba(255,255,255,0.2);
    content:"";
}
footer .f_body .info ul li:last-child::after{
    display:none;
}
footer .f_body .copyright{
    padding:0 0 86px 0;
    color:rgba(255,255,255,0.6);
}