/* 모든 페이지에 공통으로 들어가는 스타일 : 헤더랑 푸터 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;700&display=swap');
html,body{
    color: $basic_color; 
    line-height: 1.2;
    font-family:'Noto Sans KR','Malgun Gothic','Apple SD Gothic','Apple SD Gothic Neo','Dotum',sans-serif; font-size: 16px; font-weight: 400;
    letter-spacing: -0.062em;
}
#wrap{
    position:relative; overflow:hidden; min-width: 350px;/*안주면 배경 잘림*/
}
.wrapper{
    width: 100%;
    max-width: 1440px;
    padding: 0 20px; margin: 0 auto;
    /* 1400 이하부터 320까지 모든 사이즈 반응형
    1400 일때도 좌우의 여백은 유지해야함
    (1400이상에서 1400이하로 변경되는 점 - 반응형으로 변경되는 점)
    부드럽게 여백을 유지하면서 전환
    원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
    1400이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440
    패딩으로 좌우여백 20을 줌 */
}
@media screen and (max-width:640px){
    html,body{
        font-size: 13px;
    }
}
.clearfix::after{
    display: block; clear: both; content: "."; visibility: hidden; height: 0;
}
.clearfix{
    display: block;
}
/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
   .cnt_wrap {
    position: relative;
}
.skip_nav{
    position: absolute; z-index: 1000000000000000;
    left: 0; top: 0; width: 100%;
}
.skip_nav a{
    position: absolute;
    left: 0; top: -1000px; width: 100%; height: 40px;
    background-color: #1268B4;
    color: #FFF; text-align: center; line-height: 40px;
}
.skip_nav a:focus{
    top: 0;
}
/* 브라우저에서 문자를 드래그 했을 때 드래그한 영역의 색과 글자색 */
::selection{background:#AB6E34;color:#383431;}
::-moz-selection{background:#AB6E34;color:#383431;}
::-webkit-selection{background:#AB6E34;color:#383431;}

.header{
    position: absolute; z-index: 100;
    left: 0; top: 0; width: 100%; height: 100px;
    transition: 0.2s;
    .logo{
        float: left;
        margin: 25px 0 0 40px;
    }
    .gnb{
        float: right;
        margin-right: 14px;
        .gnb_open{
            display: none;
        }
        ul{
            li{
                float: left;
                a{
                    display: block;
                    padding: 0 26px;
                    color: $w_tit_color; font-size: 22px; line-height: 100px;
                }
            }
        }
    }
    /* 헤더가 고정일 때 .fixed 클래스 추가 */
    &.fixed{
        position: fixed;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(10px);
        background-color: rgba(0,0,0,0.2) ;
    }
}
@media screen and (max-width:1440px){
    .header{
        .logo{
            margin: 35px 0 0 40px;
            a{
                img{
                    width: 120px;
                }
            }
        }
        .gnb{
            ul{
                li{
                    a{
                        padding: 0 16px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1024px){
    .header{
        height: 60px;
        .logo{
            margin: 10px 0 0 20px;
            a{
                img{
                    width: 102px;
                }
            }
        }
        .gnb{
            position: relative;
            width: 60px; height: 60px;
            margin-right: 0;
            .gnb_open{
                display: block;
                strong{
                    display: none;
                }
                span{
                    position: absolute;
                    right: 20px; width: 20px; height: 2px;
                    background-color: #FFF;
                    &.line1{
                        top: 22px;
                    }
                    &.line2{
                        top: 28px; width: 15px;
                    }
                    &.line3{
                        top: 34px;
                    }
                }
            }
            ul{
                display: none;
            }
        }
    }
}
@media screen and (max-width:640px){
    .header{
        height: 60px;
        .logo{
            margin: 15px 0 0 20px;
            a{
                img{
                    width: 102px;
                }
            }
        }
        .gnb{
            position: relative;
            width: 60px; height: 60px;
            margin-right: 0;
            .gnb_open{
                display: block;
                strong{
                    display: none;
                }
                span{
                    position: absolute;
                    right: 20px; width: 20px; height: 2px;
                    background-color: #FFF;
                    &.line1{
                        top: 22px;
                    }
                    &.line2{
                        top: 28px; width: 15px;
                    }
                    &.line3{
                        top: 34px;
                    }
                }
            }
            ul{
                display: none;
            }
        }
    }
}