@font-face{
	font-family:'EY';/*내맘대로 지어도 됨*/
	font-style:normal;
	font-weight:400;
    src: url(../fonts/Eulyoo1945-Regular.eot);
	src: url(../fonts/Eulyoo1945-Regular?#iefix) format('embedded-opentype'),
	     url(../fonts/Eulyoo1945-Regular.woff2) format('woff2'),
	     url(../fonts/Eulyoo1945-Regular.woff) format('woff'),
	     url(../fonts/Eulyoo1945-Regular.otf) format('opentype');
}
@font-face{
	font-family:'EY';
	font-style:normal;
	font-weight:700;
    src: url(../fonts/Eulyoo1945-SemiBold.eot);
	src: url(../fonts/Eulyoo1945-SemiBold?#iefix) format('embedded-opentype'),
	     url(../fonts/Eulyoo1945-SemiBold.woff2) format('woff2'),
	     url(../fonts/Eulyoo1945-SemiBold.woff) format('woff'),
	     url(../fonts/Eulyoo1945-SemiBold.otf) format('opentype');
}