@import url(default.css);

header{
    position:absolute;
    left:0;
    top:0;
    width:100%;/*position:absolute;가 wrapper 안에 들어오게 함*/
    height:100px;
    color:#fff;
}
header h1{
    float:left;
    margin:32px 158px 0 0;
}
header h1 a{
    display:block;
    width:250px;
    height:39px;
    background:url(../images/logo_w.svg) no-repeat center center / 100%;/*cover주면 잘림*/
    font-size:0;
    line-height:0;/*웹접근성 때문에 썼지만 화면에서 지움*/
}
header .gnb{
    float:left;
    margin-top:15px;
}
header .gnb button{
    display:none;
}
header .gnb ul li{
    float:left;
}
header .gnb ul li a{
    display:block;
    padding:20px 42px;
    font-size:23px;
}
header .tnb{
    float:right;
    margin-top:20px;
}
header .tnb ul li{
    float:left;
}
header .tnb ul li button{
    padding:15px;
}
header .tnb ul li button span{
    display:none;
}
header .tnb ul li button i{
    font-size:30px;
    font-weight:300;
}
.vis{
    height:900px;
    background:url(../images/vis_bg.png) no-repeat center center / cover;
    color:#fff;
    text-align:right;
}
.vis h2{
    padding:389px 0 8px 0;
    font-size:45px;
    font-weight:400;
}
.vis .txt_mob{
    display:none;
}
.book{
    margin:123px 0 93px 0;
}
.book .tit{
    float:left;
}
.book .tit h2{
    color:#1d1d1d;
    font-size:40px;
    font-weight:400;
}
.book .tit p{
    margin:11px 0 33px 0;
}
.book .tit button{
    float:left;
    margin-right:14px;
    width:48px;
    height:48px;
    border:1px solid #3d3d3d;
}
.book .tit button span{
    display:none;
}
.book .tit button i{
    font-size:25px;
    font-weight:300;
    margin-top:9px;
}
/*컨텐츠 영역 밖으로 나가는 스크롤 리스트(모바일)
1. ul을 감싸는 div가 있어야 함
2. ul을 감싸는 div는 over-flow:auto;여야함(모바일만) 넓이와 높이를 입력
3. ul은 li의 전체넓이를 가져야함 --> 모든 li는 좌우 한줄로 들어가야 함
4. position:absolute;(모바일) - 좌우 슬라이드는 안됨*/
.book .list{
    margin-left:330px;

}
.book .list ul{
    width:1980px;/*모든 li의 넓이*/
}
.book .list ul li{
    float:left;
    width:290px;
    margin-right:40px;
}
.book .list ul li a{
    display:block;
}
.book .list ul li a img{
    border:1px solid rgba(0,0,0,0.1);
}
.book .list ul li a .subj{
    display:block;
    margin:6px 0 5px 0;
    font-size:20px;
    font-weight:400;
    line-height:1.5;
    height:3em;
    overflow:hidden;
    /*무조건 한 줄
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;*/
}
.book .list ul li a .writer{
    display:block;
}
.inter{
    padding-bottom:107px;
    background-color:#F6F3E9;
}
.inter .col{
    position:relative;/*pic_box의 기준점*/
}
.inter h2{
    padding:51px 0 26px 0;
    color:#1d1d1d;
    font-size:40px;
    font-weight:400;
}
.inter .pic_box{
    position:absolute;
    left:0;
    top:40px;
}
.inter .pic_box img{
    border:1px solid rgba(0,0,0,0.1);
}
.inter .cnt_box{
    height:400px;
    margin:0 0 0 70px;
    background-color:#fff;
}
.inter .cnt_box .inner{
    padding:40px 70px 0 585px;
}
.inter .cnt_box h3{
    margin-bottom:5px;
    font-size:25px;
    font-weight:400;
}
.inter .cnt_box strong{
    display:block;
    font-weight:400;
}
.inter .cnt_box p{
    padding:25px 0 22px 0;
}
.inter .cnt_box a{
    display:block;
    width:160px;
    height:37px;
    padding:0 10px 0 16px;
    line-height:37px;
    white-space:nowrap;
    border:1px solid #3d3d3d;
}
.inter .cnt_box a span{
    float:left;
}
.inter .cnt_box a i{
    float:right;
    margin-top:7px;
    font-size:20px;
}
.news{
    margin:123px 0 90px 0;
}
.news .tit h2{
    float:left;
    color:#1d1d1d;
    font-size:40px;
    font-weight:400;
}
.news .tit .btn{
    float:right;
}
.news .tit button{
    float:left;
    margin-right:14px;
    width:48px;
    height:48px;
    border:1px solid #3d3d3d;
}
.news .tit button span{
    display:none;
}
.news .tit button i{
    font-size:25px;
    font-weight:300;
    margin-top:9px;
}
.news .list{
    padding:30px 0 30px 0;
}
.news .list ul{
    width:2640px;
    margin:0 0 0 -330px;
}
.news .list ul li{
    float:left;
    width:290px;
    margin:0 40px 0 0;
}
.news .list ul li a{
    display:block;
}
.news .list ul li a img{
    width:100%;
    border:1px solid rgba(0,0,0,0.1);
    margin:0 0 9px 0;
}
.news .list ul li a .subj{
    display:block;
    margin:6px 0 5px 0;
    font-size:20px;
    font-weight:400;
    line-height:1.5;
    height:3em;
    overflow:hidden;
}
footer{
    padding:40px 0 93px 0;
    background-color:#9B8D78;
    color:rgba(255,255,255,0.8);
}
footer .flogo{
    float:left;
}
footer .fnav{
    float:left;
    margin:0 65px 0 62px;
}
footer .fnav a{
    display:block;
    line-height:2;
}
footer .sns{
    float:right;
    line-height:0;
}
footer .sns a{
    display:inline-block;
    width:36px;
    height:36px;
    margin-left:9px;
    font-size:0;
}
footer .sns a.insta{
    background:url(../images/sns01_insta.svg) no-repeat center center;
}
footer .sns a.fbk{
    background:url(../images/sns02_fbook.svg) no-repeat center center;
}
footer .sns a.naver{
    background:url(../images/sns03_naver.svg) no-repeat center center;
}
footer .copy{
    float:left;
    line-height:2;
}
/*---------------------------------------모바일---------------------------------------*/
@media screen and (max-width:640px){
    header{
        width:100%;
        height:45px;
    }
    header h1{
        margin:13px 0 0 0;
    }
    header h1 a{
        width:128px;
        height:20px;
    }
    header .gnb{
        float:right;
        margin-top:10px;
    }
    header .gnb button{
        display:block;
        padding:5px;
    }
    header .gnb button span{
        display:none;
    }
    header .gnb button i{
        font-size:18px;
    }
    header .gnb ul{
        display:none;
    }
    header .tnb{
        margin-top:10px;
    }
    header .tnb ul li button{
        padding:5px;
    }
    header .tnb ul li button i{
        font-size:18px;
    }
    header .tnb ul li.mypage{
        display:none;
    }
    .vis{
        height:auto;
        text-align:center;
    }
    .vis h2{
        padding:136px 0 10px 0;
        font-size:22px;
        line-height:1.1;
    }
    .vis h2 span{
        display:block;
    }
    .vis .txt_pc{
        display:none;
    }
    .vis .txt_mob{
        display:block;
        padding:0 0 174px 0;
    }
    .book{
        margin:56px 0 59px 0;
    }
    .book .tit{
        float:none;
    }
    .book .tit h2{
        float:left;
        font-size:20px;
    }
    .book .tit p{
        display:none;
        margin:0;
    }
    .book .tit .btn{
        float:right;
    }
    .book .tit button{
        margin:0 0 23px 5px;
        width:20px;
        height:20px;
    }
    .book .tit button i{
        font-size:10px;
        margin-top:0;
    }
    .book .list{
        overflow-y:hidden;/*가로스크롤바 생기는 것 방지*/
        overflow-x:auto;
        width:calc(100% + 20px);
        /*calc는 넓이나 높이의 수치를 계산할 때 사용
        %와 px을 합칠 때 사용
        list에 100%를 주면 wrapper가 좌우에 여백 20px을 준 안쪽으로 넓이가 생성된다
        오른쪽만 컨텐츠 영역 밖으로 더 나가고자 하면 calc(100% + 20px)*/
        margin-left:0;
        padding:23px 0 0 0;
    }
    .book .list ul{
        width:900px;/*모든 li의 넓이*/
    }
    .book .list ul li{
        width:130px;
        margin-right:20px;
    }
    .book .list ul li a img{
        width:100%;
    }
    .book .list ul li a .subj{
        display:block;
        margin:6px 0 5px 0;
        font-size:13px;
        font-weight:400;
        height:1.5em;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    .book .list ul li a .writer{
        display:none;
    }
    .inter{
        padding-bottom:25px;
    }
    .inter h2{
        padding:14px 0 16px 0;
        font-size:20px;
        font-weight:400;
    }
    .inter .pic_box{
        position:relative;
        left:auto;
        top:auto;
    }
    .inter .pic_box img{
        width:100%;
        border:1px solid rgba(0,0,0,0.1);
    }
    .inter .cnt_box{
        height:auto;
        margin:0;
        background-color:transparent;
    }
    .inter .cnt_box .inner{
        padding:0;
    }
    .inter .cnt_box h3{
        margin-bottom:8px;
        font-size:15px;
    }
    .inter .cnt_box strong{
        padding-bottom:28px;
    }
    .inter .cnt_box p{
        display: none;
    }
    .inter .cnt_box a{
        width:126px;
        height:31px;
        padding:0 7px 0 9px;
        line-height:31px;
    }
    .inter .cnt_box a i{
        margin-top:7px;
        font-size:15px;
    }
    .news{
        margin:56px 0 30px 0;
    }
    .news .tit h2{
        font-size:20px;
    }
    .news .tit button{
        float:left;
        margin:0 0 23px 5px;
        width:20px;
        height:20px;
    }
    .news .tit button i{
        font-size:10px;
        margin-top:0;
    }
    .news .list{
        overflow-y:hidden;
        overflow-x:auto;
        width:calc(100% + 20px);
        margin-left:0;
        padding:23px 0 23px 0;
    }
    .news .list ul{
        width:1360px;
        margin:0;
    }
    .news .list ul li{
        width:150px;
        margin:0 20px 0 0;
    }
    .news .list ul li a img{
        margin:0;
    }
    .news .list ul li a .subj{
        margin:6px 0 5px 0;
        font-size:13px;
        font-weight:400;
    }
    footer{
        padding:20px 0 47px 0;
        text-align:center;
    }
    footer .flogo{
        float:none;
    }
    footer .flogo img{
        width:142px;
    }
    footer .fnav{
        float:none;
        margin:13px 0 15px 0;
    }
    footer .sns{
        float:none;
    }
    footer .sns a{
        margin-left:0;
    }
    footer .sns a.insta{
        background-size:25px auto;
    }
    footer .sns a.fbk{
        background-size:13px auto;
    }
    footer .sns a.naver{
        background-size:18px auto;
    }
    footer .copy{
        float:none;
    }
}
