@import url(default.css);
.header{
    position:absolute;
    left:0;
    top:0;
    z-index:100;
    width:100%;
    height:100px;
    color:#fff;
    transition:0.5s;
}
.header .logo{
    float:left;
    margin:30px 165px 0 0;
    font-size:0;
    line-height:0;
    transition:0.5s;
}
.header .gnb{
    float:left;
}
.header .gnb>ul>li{
    float:left;
    width:180px;
    text-align:center;
}
.header .gnb>ul>li>a{
    display:block;
    line-height:100px;
    font-size:20px;
    font-weight:400;
    white-space:nowrap;
    transition:0.5s;
}
.header .gnb>ul>li>ul{
    display:none;
}
.header .gnb .gnb_open{
    display:none;
}
.header .gnb .gnb_close{
    display:none;
}
.header .tnb{
    float:right;
    margin-top:39px;
    transition:0.5s;
}
.header .tnb a{
    display:block;
    float:left;
}
.header .tnb a span{
    display:none;
}
.header .tnb a i{
    margin-left:12px;
    font-size:24px;
    font-weight:300;
}

.header.fixed{
    position:fixed;
    height:80px;
    background-color:rgba(0, 0, 0, 0.5);
}
.header.fixed .logo{
    margin-top:20px;
}
.header.fixed .gnb>ul>li>a{
    line-height:80px;
}
.header.fixed .tnb{
    margin-top:30px;
}
@media screen and (max-width:640px){
    .header{
        height:45px;
    }
    .header .logo{
        margin:11px 0 0 0;
    }
    .header .logo a img{
        width:87px;
    }
    .header .gnb{
        margin-top:15px;
        float:right;
    }
    .header .gnb>ul{
        display:none;
    }
    .header .gnb .gnb_open{
        display:block;
    }
    .header .gnb .gnb_open span{
        display:none;
    }
    .header .gnb .gnb_open i{
        font-size:18px;
    }
    .header .tnb{
        display:none;
    }
    .header.fixed{
        height:45px;
    }
    .header.fixed .logo{
        margin-top:11px;
    }
    .header.fixed .gnb{
        margin-top:15px;
    }
}
.vis{
    position:relative;
    height:1000px;
    background:url(../images/vis.png)no-repeat center center/cover;
    background-attachment:fixed;
    color:#fff;
    text-align:right;
}
.vis .inner{
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    /* margin:-72px 0 0 0; */
    transform:translate(0,-72px);
}
.vis h2{
    margin-bottom:45px;
    font-size:40px;
    font-weight:300;
    line-height:1;
}
.vis a{
    padding:2px 12px 5px 12px;
    font-weight:400;
    border:1px solid rgba(255,255,255,0.5);
}
@media screen and (max-width:640px){
    .vis{
        height:500px;
        background-position:left 10% center;
    }
    .vis .inner{
        top:25%;
        transform:translate(0,-72px);
    }
    .vis h2{
        margin-bottom:20px;
        font-size:20px; 
    }
}
.care .inner{
    position:relative;
}
.care .tit{
    margin:115px 0 63px 0;
}
.care .tit h2{
    float:left;
    color:#1d1d1d;
    font-size:55px;
    font-weight:700;
    line-height:1;
}
.care .tit p{
    float:left;
    margin:37px 0 0 10px;
}
.care .more{
    position:absolute;
    right:0;
    top:38px;
    width:73px;
    line-height:24px;
}
.care .more span{
    float:left;
    font-weight:700;
}
.care .more i{
    float:right;
    margin-top: 1px;
    font-size:20px;
    font-weight:300;
}
.care ul li{
    float:left;
    width:440px;
    margin:0 40px 100px 0;
}
.care ul li:nth-child(3),.care ul li:nth-child(6){
    margin-right:0;
}
.care ul li a{
    display:block;
}
/*마우스 오버 시 이미지 확대*/
.care ul li a span{
    display:block;
    height:100%;
    border-radius:10px;
    overflow:hidden;
    /*이미지 행간 삭제용 (이미지 태그에 주면 소용 X 이미지태그를 감싸는 태그에 넣어야 함)*/
    font-size:0;
    line-height:0;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
}
.care ul li a span img{
    transition:0.5s;
}
.care ul li a:hover span img{
    transform:scale3d(1.2,1.2,1);
}
/* ------------------------- */
.care ul li a:hover span{
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);
}
.care ul li a dl{
    margin:16px 0 0 0;
    font-size:20px;
}
.care ul li a dl dt{
    float:left;
    clear:left;
    margin-left:20px;
    font-weight:700;
}
.care ul li a dl dd{
    display:block;
    margin-left:120px;
}
.care ul li:nth-child(2),.care ul li:nth-child(5){
    margin-top:80px;
}
@media screen and (max-width:640px){
    .care .tit{
        margin:27px 0 38px 0;
    }
    .care .tit h2{
        float:none;
        font-size:30px;
        line-height:1.2;
    }
    .care .tit p{
        float:none;
        margin:0;
    }
    .care .more{
        position:relative;
        display:block;
        right:auto;
        top:auto;
        width:60px;
        margin:auto;
        line-height:20px;
    }
    .care .more i{
        font-size:15px;
    }
    .care ul li{
        float:none;
        width:auto;
        margin:0 0 35px 0;
    }
    .care ul li:nth-child(2),.care ul li:nth-child(5){
        margin-top:0;
    }
    .care ul li:nth-child(4),.care ul li:nth-child(5),.care ul li:nth-child(6){
        display:none;
    }
    .care ul li a span{
        height:100%;
    }
    .care ul li a span img{
        width:100%;
    }
    .care ul li a dl{
        margin:16px 0 0 0;
        font-size:15px;
    }
    .care ul li a dl dt{
        margin-left:0;
    }
}
.step{
    height:588px;
    margin-top:14px;
    background:url(../images/step_bg.png)no-repeat center center/cover;
    color:#fff;
}
.step .tit{
    padding:123px 0 146px 0;
}
.step .tit h2{
    float:left;
    font-size:55px;
    font-weight:700;
    line-height:0.9;
}
.step .tit p{
    float:left;
    margin:37px 0 0 10px;
}
.step .ctrl{
    display:none;
}
.step .list ol li{
    float:left;
    width:200px;
    height:200px;
    margin-right:40px;
}
.step .list ol li:last-child{
    margin-right:0;
}
.step .list ol li strong{
    display:block;
    color:rgba(255, 255, 255, 0.5);
    font-size:40px;
}
.step .list ol li h3{
    display:block;
    margin:0 0 7px 0;
    font-size:25px;
}
.step .list ol li p{
    color:rgba(255, 255, 255, 0.8);
}
@media screen and (max-width:640px){
    .step{
        height:auto;
        margin-top:52px;
        padding-bottom:87px;
    }
    .step .tit{
        padding:68px 0 25px 0;
    }
    .step .tit h2{
        float:none;
        font-size:30px;
        line-height:1.2;
    }
    .step .tit p{
        float:none;
        margin:0;
    }
    .step .ctrl{
        display:block;
        text-align:center;
    }
    .step .ctrl button{
        width:21px;
        height:21px;
        margin:0 2px 59px 0;
        border-radius:10px;
        border:1px solid rgba(255, 255, 255, 0.8);
    }
    .step .ctrl button span{
        display:none;
    }
    .step .ctrl button i{
        font-size:15px;
        margin-top:2px;
    }
    .step .list{
        overflow:hidden;
        position:relative;
        height:150px;
    }
    .step .list ol{
        position:absolute;
        left:0;
        top:0;
    }
    .step .list ol li{
        width:150px;
        height:150px;
        padding-left:0;
        margin-right:16px;
    }
    .step .list ol li strong{   
        font-size:20px;
    }
    .step .list ol li h3{
        font-size:15px;
    }
}
.news{
    margin-bottom:107px;
}
.news .inner{
    position:relative;
}
.news .tit{
    margin:115px 0 63px 0;
}
.news .tit h2{
    float:left;
    color:#1d1d1d;
    font-size:55px;
    font-weight:700;
    line-height:1;
}
.news .tit p{
    float:left;
    margin:37px 0 0 10px;
}
.news .more{
    position:absolute;
    right:0;
    top:38px;
    width:73px;
    line-height:24px;
}
.news .more span{
    float:left;
    font-weight:700;
}
.news .more i{
    float:right;
    margin-top: 1px;
    font-size:20px;
    font-weight:300;
}
.news ul li{
    float:left;
    padding:31px 0 0 39px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
    overflow:hidden;
}
.news ul li:first-child{
    padding:31px 0 0 39px;
    border-radius:10px;
    margin-right:40px;
}
.news ul li:first-child a{
    height:388px;
}
.news ul li:first-child a .pic{
    float:left;
}
.news ul li:first-child a .sub{
    white-space:normal;
    line-height:1.5;
    height:3;
}
.news ul li:first-child a .inner2{
    float:right;
    width:201px;
    margin-right:37px;
}
.news ul li:first-child a .ctt{
    display: block;
    margin-top:43px;
    line-height:1.5;
    height:9;
    overflow:hidden;
}
.news ul li:nth-child(2){
    margin-bottom:40px;
}
.news ul li a{
    display:block;
    width:640px;
    height:160px;
    background-color:#fff;
}
.news ul li:hover{
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.3);
}
.news ul li a .pic{
    overflow:hidden;
    font-size:0;
    line-height:0;
}
.news ul li a .pic img{
    transition:0.5s;
}
.news ul li:hover .pic img{
    transform:scale3d(1.2,1.2,1);
}
.news ul li a .sub{
    display:block;
    font-size:25px;
    font-weight:400;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.news ul li a .date{
    display:block;
    margin-top:27px;
}
.news ul li a .date span:first-child{
    position:relative;
    margin:0 39px 0 0;
}
.news ul li a .date span:first-child::after{
    position:absolute;
    right:-22px;
    top:5px;
    width:1px;
    height:10px;
    background-color:rgba(0, 0, 0, 0.3);
    content:"";
}
@media screen and (max-width:640px){
    .news{
        margin-bottom:35px;
    }
    .news .tit{
        margin:59px 0 19px 0;
    }
    .news .tit h2{
        float:none;
        font-size:30px;
    }
    .news .tit p{
        float:none;
        margin:0;
    }
    .news .more{
        position:relative;
        right:auto;
        top:auto;
        text-align:center;
    }
    .news .more a{
        display:inline-block;
        width:auto;
        line-height:20px;
    }
    .news .more i{
        font-size:15px;
    }
    .news ul li{
        float:none;
        width:auto;
        padding:0;
        background-color:transparent;
        border-radius:0;
        box-shadow:none;
        border-bottom:1px solid rgba(0, 0, 0, 0.5);
    }
    .news ul li:hover{
        box-shadow:none;
    }
    .news ul li:first-child{
        border-radius:0;
        margin-right:0;
        padding:31px 0 0 0;
    }
    .news ul li:first-child a{
        height:auto;
    }
    .news ul li:first-child a .pic{
        float:none;
    }
    .news ul li:first-child a .pic img{
        width:100%;
    }
    .news ul li a .pic img{
        transition:0;
    }
    .news ul li:hover .pic img{
        transform:none;
    }
    .news ul li:first-child a .sub{
        white-space:normal;
        height:auto;
        margin-top:9px;
    }
    .news ul li:first-child a .inner2{
        float:right;
        width:auto;
        margin-right:0;
    }
    .news ul li:first-child a .ctt{
        display:inline-block;
        margin-top:12px;
        height:auto;
        overflow:visible;
    }
    .news ul li:nth-child(2){
        margin-bottom:0;
    }
    .news ul li:last-child{
        border-bottom:0;
    }
    .news ul li a{
        display:inline-block;
        width:auto;
        height:auto;
        padding:30px 0;
    }
    .news ul li a .sub{
        font-size:15px;
        white-space:normal;
        overflow:visible;
    }
    .news ul li a .date{
        margin-top:19px;
    }

}
.footer{
    background-color:#3d3d3d;
    color:rgba(255, 255, 255, 0.8);
}
.footer .inner{
    position:relative;
}
.footer .family{
    position:absolute;
    right:0;
    top:0;
    margin:37px;
}
.footer .family button{
    width:200px;
    height:28px;
    padding:0 9px 0 17px;
    border:1px solid rgba(255, 255, 255, 0.8);
}
.footer .family button.close{
    display:none;
}
.footer .family button span{
    float:left;
}
.footer .family button i{
    float:right;
    margin-top:1px;
    font-size:20px;
    width:20px;
}
.footer .family ul{
    position:absolute;
    left:0;
    bottom:28px;
    display:none;
}
.footer .family.faopen ul{
    display:block;
}
.footer .family.faopen button.close{
    display:block;
}
.footer .family.faopen button.open{
    display:none;
}
.footer .family ul li a{
    display:block;
    width:200px;
    line-height:33px;
    background-color:#fff;
    color:#3d3d3d;
    padding:0 56px 0 0;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.1);
}
.footer .family ul li a:hover{
    font-weight:700;
}
.footer .fnav{
    padding:66px 0 24px 0;
}
.footer .fnav li{
    position:relative;
    float:left;
    margin:0 25px 0 0;
}
.footer .fnav li::after{
    position:absolute;
    right:-13px;
    top:6px;
    width:1px;
    height:10px;
    background-color:rgba(255, 255, 255, 0.3);
    content:"";
}
.footer .fnav li:last-child:after{
    display:none;
}
.footer .fnav li.priv{
    font-weight:700;
}
.footer .copy{
    padding-bottom:55px;
    color:rgba(255, 255, 255, 0.5);
}
@media screen and (max-width:640px){
    .footer .family{
        position:relative;
        right:auto;
        top:auto;
        margin:0 auto;
        width:188px;
        padding-top:23px;
    }
    .footer .family button{
        width:188px;
        height:31px;
    }
    .footer .family button.close{
        display:none;
    }
    .footer .family button span{
        float:left;
    }
    .footer .family button i{
        font-size:18px;
    }
    .footer .family ul{
        bottom:28px;
        display:none;
    }
    .footer .family.faopen ul{
        margin-top:0;
        display:block;
    }
    .footer .family.faopen button.close{
        display:block;
    }
    .footer .family.faopen button.open{
        display:none;
    }
    .footer .family ul li a{
        width:188px;
        line-height:33px;
        background-color:#fff;
        color:#3d3d3d;
        padding:0 56px 0 0;
        box-shadow:0 0 5px rgba(0, 0, 0, 0.1);
    }
    .footer .family ul li a:hover{
        font-weight:700;
    }
    .footer .fnav{
        padding:26px 0 24px 0;
    }
    .footer .fnav li{
        position:relative;
        float:left;
        margin:0 25px 0 0;
    }
    .footer .fnav li::after{
        position:absolute;
        right:-13px;
        top:6px;
        width:1px;
        height:10px;
        background-color:rgba(255, 255, 255, 0.3);
        content:"";
    }
    .footer .fnav li:last-child:after{
        display:none;
    }
    .footer .fnav li.priv{
        font-weight:700;
    }
    .footer .copy{
        padding-bottom:55px;
        color:rgba(255, 255, 255, 0.5);
    } 
}