/* 모든 페이지에 공통으로 들어가는 스타일 : 헤더랑 푸터 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');
html,body{
    color: #3d3d3d;
    line-height: 1.5;
    font-family:'Noto Sans KR','Malgun Gothic','Apple SD Gothic','Apple SD Gothic Neo','Dotum',sans-serif; font-size: 15px; font-weight: 400;
    letter-spacing: -0.062em;
}
#wrap{
    position:relative; overflow:hidden; min-width: 350px; /*안주면 배경 잘림*/
}
.wrapper{
    width: 100%;
    max-width: 1440px;
    padding: 0 20px; margin: 0 auto;
    /* 1400 이하부터 320까지 모든 사이즈 반응형
    1400 일때도 좌우의 여백은 유지해야함
    (1400이상에서 1400이하로 변경되는 점 - 반응형으로 변경되는 점)
    부드럽게 여백을 유지하면서 전환
    원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
    1400이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440
    패딩으로 좌우여백 20을 줌 */
}
@media screen and (max-width:640px){
    html,body{
        font-size: 13px;
    }
}
.clearfix::after{
    display: block; clear: both; content: "."; visibility: hidden; height: 0;
}
.clearfix{
    display: block;
}
/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
   .cnt_wrap {
    position: relative;
}
.skip_nav{
    position: absolute; z-index: 1000000000000000;
    left: 0; top: 0; width: 100%;
}
.skip_nav a{
    position: absolute;
    left: 0; top: -1000px; width: 100%; height: 40px;
    background-color: #1268B4;
    color: #FFF; text-align: center; line-height: 40px;
}
.skip_nav a:focus{
    top: 0;
}
/* 브라우저에서 문자를 드래그 했을 때 드래그한 영역의 색과 글자색 */
::selection{background:#926D49;color:#fff;}
::-moz-selection{background:#926D49;color:#fff;}
::-webkit-selection{background:#926D49;color:#fff;} 

.header{
    position: fixed; z-index: 1000;
    left: 0; top: 0; width: 100%; height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #FFF;
}
.header .logo{
    float: left;
    margin: 24px 0 0 0;
}
.header .logo a{
    display: block;
    width: 240px; height: 48.79px;
    background-image: url(../images/common/logo_w.svg); background-position: center center; background-repeat: no-repeat; background-size: contain;
    font-size: 0; line-height: 0;
}
.header .gnb{
    float: right;
}
.header .gnb .gnb_open{
    display: none;
}
.header .gnb ul li{
    float: left;
}
.header .gnb ul li a{
    display: block;
    padding: 0 42px;
    font-size: 23px; line-height: 100px;
}

/* 헤더가 고정일 때 */
.header.black{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* background-color: rgba(255, 255, 255, 0.9); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    color: #3d3d3d;
}
.header.black .logo a{
    background-image: url(../images/common/logo_b.svg);
}
@media screen and (max-width:1200px){
    .header .gnb ul li a{
        padding: 0 20px;
        font-size: 18px;
    }
}
@media screen and (max-width:700px){
    .header{
        height: 60px;
        border-bottom: 0;
        color: #3d3d3d;
    }
    .header .logo{
        margin: 14px 0 0 0;
    }
    .header .logo a{
        background-image: url(../images/common/logo_b.svg);
        width: 146.42px; height: 29.77px;
    }
    .header .gnb{
        margin: 0;
    }
    .header .gnb .gnb_open{
        display: block;
        padding: 22px 20px 20px 20px;
    }
    .header .gnb .gnb_open span{
        display: block;
        width: 20px; height: 2px;
        margin: 4px 0 0 0;
        border-radius: 1px; background-color: #3d3d3d;
        font-size: 0; line-height: 0;
    }
    .header .gnb ul li{
        display: none;
    }
    .header.black .gnb .gnb_open span{
        background-color: #3d3d3d; 
    }
}
@media screen and (max-width:640px){
    .header{
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
    .header.black{
        border-bottom: 0;
    }
    .header.black .gnb .gnb_open span{
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
}
.footer{
    padding: 28px 0 62px 0;
    border-top: 1px solid #CCC;
}
.footer .fnav{
    float: right;
    text-align: right;
}
.footer .fnav li{
    color: #666; font-size: 30px; font-weight: 700; line-height: 2;
}
.footer .inner{
    float: left;
}
.footer .flogo{
    width: 97px; height: 102px;
    margin-bottom: 32px;
    background: url(../images/common/logo_w.svg) no-repeat left top / auto 102px;
}
.footer .copy{
    color: #666;
}
@media screen and (max-width:700px){
    .footer{
        padding: 27px 0 75px 0;
    }
    .footer .fnav li{
        font-size: 20px;
    }
    .footer .inner{
        float: left;
        margin-top: 27px;
    }
    .footer .flogo{
        display: none;
    }
}