/* 모든 페이지에 공통으로 들어가는 스타일 : 헤더랑 푸터 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css");
html,body{
    color: #3d3d3d;
    line-height: 1.5;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; font-size: 15px; font-weight: 400;
    letter-spacing: -0.062em;
}
#wrap{
    position:relative; overflow:hidden; min-width: 1280px;
}
.wrapper{
    width: 1400px; margin: 0 auto;
}
@media screen and (max-width:640px){
    html,body{
        font-size: 13px;
    }
    #wrap{/*id는 #*/
        min-width: 350px;
        /*안주면 배경 잘림*/
    }
    .wrapper{
        width: auto;
        margin: 0 20px;
    }
    /*mobile에서는 고정값을 다 빼줘야 함*/
}
.clearfix::after{
    display: block; clear: both; content: "."; visibility: hidden; height: 0;
}
.clearfix{
    display: block;
}
/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
   .cnt_wrap {
    position: relative;
}