@import url(default.css);
header{
    position:absolute;
    /*absolute를 주면 inline요소로 변환됨 display:block;안 먹어서 대신 width:100%;를 줘야한다*/
    /*body가 relative*/
    left:0;
    top:0;
    z-index:100;/*하단에 뭐가 들어갈지 모르니까 큰 숫자로 맨 위에 올리기*/
    width:100%;
    height:100px;
    border-bottom:1px solid rgba(255,255,255,0.3);
}
header h1{
    float:left;
    margin:26px 278px 0 0;
    font-size:0;
    line-height:0;
}
header h1 a{
    display:block;
    width:110px;
    height:48px;
    background:url(../images/lg_logo_w.svg) no-repeat center center / 100%;
}
header .gnb{
    float:left;
}
header .gnb button{
    display:none;
}
header .gnb ul li{
    float:left;
}
header .gnb ul li a{
    display:block;
    padding:35px 25px;
    color:#fff;
    font-size:20px;
}
header .tnb{
    float:right;
    margin:37px 0 0 0;
}
header .tnb button{
    margin-left:46px;
}
header .tnb button i{
    color:#fff;
    font-size:24px;
    font-weight:300;
}
header .tnb button span{
    display:none;
}
header.fixed{/*header가 고정됐을 때 jquary가 class를 준다*/
    position:fixed;
    background-color:#fff;
}
header.fixed h1 a{
    background-image:url(../images/lg_logo.svg);
}
header.fixed .gnb ul li a{
    color:#1d1d1d;
}
header.fixed .tnb button i{
    color:#3d3d3d;
}
/*---------------------------------▽▽header mobile▽▽---------------------------------*/
@media screen and (max-width:640px){
    header{
        height:45px;
    }
    header h1{
        margin:14px 0 0 0;
        font-size:0;
        line-height:0;
    }/*여백 빼기*/
    header h1 a{
        width:48px;
        height:21px;
        background:url(../images/lg_logo_w.svg) no-repeat center center / 100%;
    }
    header h1 img{
        width:48px;
    }
    header .gnb{
        float:right;
    }
    header .gnb button{
        display:block;
    }
    header .gnb button i{
        margin:13px 0 0 0;
        color:#fff;
        font-size:17px;
        font-weight:300;
    }
    header .gnb button span{
        display:none;
    }
    header .gnb ul{
        display: none;
    }
    header .tnb{
        display:none;
    }
    header.fixed .gnb button i{
        color:#3d3d3d;
    }
}
/*---------------------------------△△header mobile△△---------------------------------*/
.vis{
    position:relative;
    height:900px;
    background-image:url(../images/vis.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
}
.vis::before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;/*높이 100%는 absolute랑 fixed만 다른 건 주면 안 됨*/
    background-color:rgba(0,0,0,0.2);
    content:"";
}
.vis .inner{
    position:relative;
    z-index:1;
    /*before의 background-color위로 올리기 위해
    z-index 숫자가 큰 쪽이 위*/
}
.vis h2{
    padding:380px 0 10px 0;
    font-size:35px;
    font-weight:400;
    line-height:1.1;
}
.vis h2 span{
    display:block;
}
/*---------------------------------▽▽vis mobile▽▽---------------------------------*/
@media screen and (max-width:640px){
    .vis{
        height:auto;
        background-position:center right 35%;
        background-size:cover;
    }
    .vis::before{
        background-color:rgba(0,0,0,0.4);
    }
    .vis h2{
        padding:136px 0 272px 0;
        font-size:18px;
        text-align:center;
    }
    .vis h2 span{
        display:inline;
    }
    .vis p{
        display:none;
    }
}
/*---------------------------------△△vis mobile△△---------------------------------*/
.biss .lowg1{
    margin:131px 0 88px 0;
}
.biss .lowg2{
    margin:0 0 88px 0;
}
.biss .lowg3{
    margin:0 0 132px 0;
}
.biss .f_left img{
    float:left;
}
.biss .f_left .inner{
    float:right;
    margin:0 48px 0 0;
}
.biss .f_right img{
    float:right;
}
.biss .f_right .inner{
    float:left;
    margin:0 0 0 48px;
}
.biss .inner{
    width:498px;
}
.biss h2{
    margin:30px 0 0 0;
    font-size:30px;
    font-weight:700;
}
.biss strong{
    display:block;
    margin:0 0 40px 0;
    font-weight:700;
}
.biss .link{
    margin:63px 0 0 0;
}
.biss .link ul li{
    float:left;
    width:148px;
    margin:0 10px 15px 0;
    border-bottom:1px solid #555;
}
.biss .link ul li a{
    display:block;
    position:relative;
    line-height:28px;
}
.biss .link ul li a::after{
    position:absolute;
    right:0;
    top:6px;
    color:#555;
    font-family:'Material Symbols Rounded';
    font-weight:300;
    font-style:normal;
    font-size:18px;
    line-height:1;
    letter-spacing:normal;
    text-transform:none;
    display:inline-block;
    white-space:nowrap;
    word-wrap:normal;
    direction:ltr;
    font-feature-settings:'liga';
    -webkit-font-smoothing:antialiased;
    content:"\e941";
    white-space:nowrap;
}
/*---------------------------------▽▽biss mobile▽▽---------------------------------*/
@media screen and (max-width:640px){
    .biss .lowg1{
        margin:43px 0 45px 0;
    }
    .biss .lowg2{
        margin:0 0 45px 0;
    }
    .biss .lowg3{
        margin:0 0 78px 0;
    }
    .biss .f_left img{
        float:none;
    }
    .biss .f_left .inner{
        float:none;
        margin:0;
    }
    .biss .f_right img{
        float:none;
    }
    .biss .f_right .inner{
        float:none;
        margin:0;
    }
    .biss .inner{
        width:auto;
    }
    .biss img{
        width:100%;/*넓이 높이 둘 다 쓰면 잘 안들어감*/
    }
    .biss h2{
        margin:13px 0 0 0;
        font-size:18px;
    }
    .biss strong{
        margin:0 0 16px 0;
    }
    .biss .link{
        position:relative;
        overflow:auto;
        width:calc(100% + 20px);/*띄어쓰기 필수*/
        height:28px;
        margin:13px 0 0 0;
    }
    .biss .link ul{
        position:absolute;
    }
    .biss .link ul li{
        width:auto;
        margin:0 5px 0 0;
    }
    .biss .link ul li a{
        padding:0 51px 0 3px;
        line-height:27px;
    }
    .biss .lowg1 .link ul{
        width:608px;
    }
    .biss .lowg2 .link ul{
        width:440px;
    }
    .biss .lowg3 .link ul{
        width:454px;
    }
}
/*.link ul li가 좌우로 배치 된 슬라이드를 만들기 위해
1. ul은 모든 li의 넓이의 합을 강제로 갖고 있어야 함
2. ul은 position:absolute;여야 함
3. ul을 감싸고 있는 요소는 좌우 스크롤을 이용해야 함
4. 감싸고 있는 요소는 내부 컨텐츠만큼의 높이를 줘야함*/
/*---------------------------------△△biss mobile△△---------------------------------*/
.purp{
    position:relative;
    height:290px;
    background:url(../images/purpose.png) no-repeat center center / cover;
    color:#fff;
    text-align:center;
}
.purp::before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.2);
    content:"";
}
.purp .inner{
    position:relative;
    z-index:1;
}
.purp h2{
    padding:80px 0 38px 0;
    font-size:25px;
    font-weight:700;
    line-height:1.1;
}
.purp h2 strong{
    position:relative;
}
.purp h2 strong::before{
    left:-83px;
    top:-4px;
    background:url(../images/tt01.png) no-repeat center center;
    content:"";
}
.purp h2 strong::after{
    right:-58px;
    bottom:-5px;
    background:url(../images/tt02.png) no-repeat center center;
    content:"";
}
.purp h2 strong::before,.purp h2 strong::after{
    position:absolute;
    width:44px;
    height:37px;
    color:rgba(255,255,255,0.5);
}
.purp p{
    line-height:1.1;
}
/*---------------------------------▽▽purp mobile▽▽---------------------------------*/
@media screen and (max-width:640px){
    .purp{
        height:auto;
        padding:0 0 29px 0;
    }
    .purp h2{
        padding:73px 0 80px 0;
        font-size:18px;
    }
    .purp h2 strong::before{
        left:-22px;
        top:-40px;
    }
    .purp h2 strong::after{
        right:37px;
        bottom:-38px;
    }
    .purp h2 strong::before,.purp h2 strong::after{
        background-size:36px;
    }
    .purp p{
        line-height:1.1;
    }
    .purp h2 span{
        display:block;
    }
}
/*---------------------------------△△purp mobile△△---------------------------------*/
.news{
    margin:131px 0 158px 0;
}
.news h2{
    display:none;
}
.news ul li{
    /*overflow:hidden; 빠져나가는거 자름*/
    float:left;
    width:290px;
    margin:0 40px 0 0;
    border-bottom:1px solid #555;
}
.news ul li:last-child{
    margin:0;
}
.news ul li a{
    display:block;
}
/*.news ul li a img{
    width:100%; 보더 줬을 때 이미지가 박스크기를 넘어가지 못하게 함
}*/
.news ul li a .cate{
    display:block;
    margin:20px 10px;
    font-weight:700;
}
.news ul li a .tit{
    display:block;
    margin:0 10px 30px 10px;
    font-size:20px;
    font-weight:400;
    /*두줄 고정용*/
    line-height:1.5;/*행간*/
    height:3em;/*행간x줄수*/
    overflow:hidden;
}
.news ul li a .date{
    display:block;
    margin:0 10px 15px 10px;
}
/*---------------------------------▽▽news mobile▽▽---------------------------------*/
@media screen and (max-width:640px){
    .news{
        margin:51px 0 58px 0;
    }
    .news ul li{
        display:none;
        width:100%;
        margin:0;
    }
    .news ul li:first-child{
        display:block;
    }/*li에서  display:none;으로 싹 다 지우고 first child만 나오게 한다*/
    .news ul li a img{
        width:100%;
    }
    .news ul li a .cate{
        margin:10px 0 7px 22px;
    }
    .news ul li a .tit{
        margin:0 22px 14px 22px;
        font-size:18px;
        /*두줄 고정용*/
        height:auto;/*행간x줄수*/
        overflow:visible;
    }
    .news ul li a .date{
        margin:0 22px 10px 22px;
    }
}
/*---------------------------------△△news mobile△△---------------------------------*/
footer{
    padding:41px 0 82px 0;
    background-color:#f4f4f4;
    color:#555;
}
footer .family{
    float:right;
}
footer .family button{
    width:158px;
    height:28px;
    padding:0 7px 0 13px;
    border:1px solid #555;
}
footer .family button span{
    float:left;
}
footer .family button i{
    float:right;
}
footer .inner{
    float:left;
}
footer .fnv li{
    position:relative;
    float:left;
}
footer .fnv li::after{
    position:absolute;
    right:8px;
    top:6px;
    width:1px;
    height:10px;
    background-color:#999;
    content:"";
}
footer .fnv li:last-child:after{
    display:none;
}
footer .fnv li.pri{
    font-weight:700;
}
footer .fnv li a{
    padding:0 17px;
}
footer .fnv li a:first-child{
    padding-left:0;
}
footer .finfo{
    margin:30px 0 10px 0;
}