/* 각각의 콘텐츠 페이지의 스타일을 저장 */
/* 회사소개 > CEO인사말 */
.cnt_ceo{
    position: relative;
}
.cnt_ceo .ceo_pic{
    position: absolute;
    right: 50%; top: 0;
    margin: 0 200px 0 0;
}
.cnt_ceo .inner{
    margin: 0 0 0 560px;
}
.cnt_ceo .tit{
    margin: 0 0 44px 0;
    font-size: 25px; font-weight: 700;
}
.cnt_ceo .sign{
    margin: 105px 0 0 0;
    text-align: right;
}
@media screen and (max-width:640px){
    .cnt_ceo .ceo_pic{
        display: none;
    }
    .cnt_ceo .inner{
        margin: 0;
    }
    .cnt_ceo .tit{
        margin: 0 0 22px 0;
        font-size: 18px;
    }
    .cnt_ceo .sign{
        margin: 74px 0 0 0;
    }
    .cnt_ceo .sign img{
        width: 122px;
    }
}


/* 회사소개 > 연혁 */

.cnt_historyN .tit{
    font-size: 20px; text-align: center;
}
.cnt_historyN .tit span{
    display: block;
}
.cnt_historyN .history_wrap{
    position: relative;
    margin: 89px 0 0 0;
}
.cnt_historyN .history_wrap::before{
    position: absolute;
    left: 50%; top: 0; width: 2px; height: calc(100% - 55px);
    background-color: #ED1C24;
    content: "";
}
.cnt_historyN .inner{
    position: relative;
}
.cnt_historyN .inner + .inner{
    margin-top: 100px;
}
.cnt_historyN .year_tit{
    position: absolute;
    top: 43px;
}
.cnt_historyN .year_tit.left{
    left: 80px;
}
.cnt_historyN .year_tit.right{
    right: 80px;
}
.cnt_historyN .year_tit .bg{
    width: 480px; height: 274px;
    background-position: center center; background-repeat: no-repeat; background-size: cover;
}
.cnt_historyN .year_tit .bg.year2010{
    background-image: url(../images/content/cnt_historyN01.png);
}
.cnt_historyN .year_tit .bg.year2000{
    background-image: url(../images/content/cnt_historyN02.png);
}
.cnt_historyN .year_tit h3{
    position: absolute;
    right: 0; bottom: 0;
    margin: 0 20px 10px 0;
    color: #FFF; font-size: 40px; font-weight: 700;
}
.cnt_historyN .year_list.left{
    margin: 0 0 0 50%;
}
.cnt_historyN .year_list.right{
    margin: 0 50% 0 0 ;
}
.cnt_historyN .year_list h4{
    position: relative;
    color: #ED1C24; font-size: 25px; font-weight: 700;
}
.cnt_historyN .year_list.left h4{
    margin-left: 35px;
}
.cnt_historyN .year_list.right h4{
    text-align: right;
    margin-right: 35px;
}
.cnt_historyN .year_list.left h4::before{
    position: absolute;
    left: -40px; top: 0; width: 8px; height: 8px;
    background-color: #FFF; border: 2px solid #ED1C24; border-radius: 8px;
    content: "";
}
.cnt_historyN .year_list.right h4::before{
    position: absolute;
    right: -42px; top: 0; width: 8px; height: 8px; border-radius: 8px;
    background-color: #FFF; border: 2px solid #ED1C24;
    content: "";
}
.cnt_historyN .year_list.left dl{
    margin: 10px 0 70px 65px;
}
.cnt_historyN .year_list.right dl{
    text-align: right;
    margin: 10px 65px 70px 0;
}
.cnt_historyN .year_list.left dt{
    float: left;
}
.cnt_historyN .year_list.right dt{
    float: right;
}
.cnt_historyN .year_list.left dd{
    margin-left: 32px;
}
.cnt_historyN .year_list.right dd{
    margin-right: 32px;
    text-align: right;
}
.cnt_historyN .year_list dl dt{
    font-weight: 700; line-height: 1.3; 
}
.cnt_historyN .year_list dl dd{
    line-height: 1.3;
}
.cnt_historyN .year_list dl dd ~ dt{
    padding-top: 10px;
}
.cnt_historyN .year_list dl dd ~ dt + dd{
    padding-top: 10px;
}
@media screen and (max-width:640px){
    .cnt_historyN .tit{
        font-size: 15px;
    }
    .cnt_historyN .tit span{
        display: inline;
    }
    .cnt_historyN .history_wrap{
        margin: 47px 0 0 0;
    }
    .cnt_historyN .history_wrap::before{
        left: 3px; height: 100%;
    }
    .cnt_historyN .inner + .inner{
        margin-top: 40px;
    }
    .cnt_historyN .year_tit{
        position: relative;
        top: 0; width: calc(100% + 40px);
    }
    .cnt_historyN .year_tit.left{
        left: -20px;
    }
    .cnt_historyN .year_tit.right{
        left: -20px;
    }
    .cnt_historyN .year_tit .bg{
        width: 100%; height: 77px;
    }
    .cnt_historyN .year_tit h3{
        position: absolute;
        top: 0; width: 100%;
        margin: 15px 0 0 0;
        font-size: 30px; text-align: center;
    }
    .cnt_historyN .year_list.left{
        margin: 13px 0 0 22px;
    }
    .cnt_historyN .year_list.right{
        margin: 13px 0 0 22px;
    }
    .cnt_historyN .year_list h4{
        font-size: 18px;
    }
    .cnt_historyN .year_list.left h4{
        margin-left: 0;
    }
    .cnt_historyN .year_list.right h4{
        text-align: left;
        margin-right: 0;
    }
    .cnt_historyN .year_list.left h4::before{
        left: -23px; top: 5px; width: 6px; height: 6px;
    }
    .cnt_historyN .year_list.right h4::before{
        right: auto; left: -23px; top: 5px; width: 6px; height: 6px;
    }
    .cnt_historyN .year_list.left dl{
        margin: 10px 0 50px 2px;
    }
    .cnt_historyN .year_list.right dl{
        text-align: left;
        margin: 10px 0 50px 2px;
    }
    .cnt_historyN .year_list.right dt{
        float: left;
    }
    .cnt_historyN .year_list.left dd{
        margin-left: 32px;
    }
    .cnt_historyN .year_list.right dd{
        margin-right: 0; margin-left: 32px;
        text-align: left;
    }
    .cnt_historyN .year_list dl dt{
        font-weight: 700; line-height: 1.3; 
    }
    .cnt_historyN .year_list dl dd{
        line-height: 1.3;
    }
    .cnt_historyN .year_list dl dd ~ dt{
        padding-top: 10px;
    }
    .cnt_historyN .year_list dl dd ~ dt + dd{
        padding-top: 10px;
    }
}