@import url(default.css);
@import url(common.css);

.popup{
    height: 450px;
}
.popup .popup_round{
    position: absolute; z-index: 10000000;
    right: 87%; top:0; width: 50%; height: 100%; 
    background-color: #fff;
}
.popup .popup_round::before{
    position: absolute;
    right: -79px; top: 0; width: 80px; height: 80px;
    background: url(../images/main/popupround.svg) no-repeat center center / contain;
    content: "";
}
.popup .popup_round::after{
    position: absolute;
    right: -79px; top: 370px; width: 80px; height: 80px; transform: rotate(270deg);
    background: url(../images/main/popupround.svg) no-repeat center center / contain;
    content: "";
}
.popup h2{
    display: none;
}
.popup ul li a img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 무조건 가운데로 오게함 */
}
.popup ul li a .mobile{
    display: none;
}
@media screen and (max-width:1120px){
    .popup{
        height: 250px;
    }
    .popup .popup_round::before{
        display: none;
    }
    .popup .popup_round::after{
        display: none;
    }
}
@media screen and (max-width:640px){
    .popup{
        height: 433px;
    }
    .popup .popup_round{
        display: none;
    }
    .popup ul li a .pc{
        display: none;
    }
    .popup ul li a .mobile{
        display: block;
    }
}
.event{
    margin: 4.400rem 0 8.933rem 0;
}
.event h2{
    position: relative;
    color: #1d1d1d; font-size: 2.667rem; font-weight: 700; line-height: 1.1;
    margin: 2rem 0; padding: 0 0 2.667rem 0;
}
.event ul li{
    float: left;
    /* width: 48.5%; */
    /* (넓이/최대넓이)*100 */
    /* margin: 0 2.5% 0 0;  */
    /* 한줄에 li가 두개 여백이 한개
    100-(li하나의 넓이*2) =100-(47*2) = 6
    한줄에 들어가는 여백과 li의 넓이가 합이 100% */

    /* 여백을 고정값으로 주는 경우 %가 아니라 px로 값을 줌
    li의 넓이 계산법 -한줄에 두개 50%
    한줄에 들어가야하는 여백의 총합을 li의 갯수로 나눔 = 40px/2 = 20px*/
    width: calc(50% - 20px);
    margin: 0 2.667rem 0 0;
}
.event ul li:nth-child(2),.event ul li:last-child{
    margin-right: 0;
}
.event ul li:nth-child(2),.event ul li:nth-child(4){
    margin-top: -9.467rem;
}
.event ul li a{
    display: block;
}
.event ul li a img{
    width: 100%;
    margin: 1rem 0 6.733rem 0;
    border-radius: 2.000rem;
}
.event ul li a strong{
    font-size: 1.533rem; font-weight: 700; line-height: 1.2;
}
.event ul li a strong span{
    display: block;
    font-size: 1rem; font-weight: 400;
}
.event .more{
    position: absolute;
    left: 10.467rem; top: 4rem;
}
@media screen and (max-width:1050px){
    .event{
        margin: 3.400rem 0 3.933rem 0;
    }
    .event h2{
        font-size: 2rem;
    }
    .event ul li a strong{
        font-size: 1.25rem;
    }

    .event ul li:nth-child(2),.event ul li:nth-child(4){
        margin-top: -9.467rem;
    }
    .event ul li a img{
        width: 100%;
        margin: 1rem 0 2.733rem 0;
        border-radius: 2.000rem;
    }
    .event .more{
        position: absolute;
        left: 8.5rem; top: 2.8rem;
    }
    .event .more img{
        width: 1.333rem; height: auto;
    }
}
@media screen and (max-width:600px){
    .event h2{
        font-size: 3rem;
    }
    .event ul li{
        float: none;
        width: 100%;
        margin: 0;
    }
    .event ul li:nth-child(2),.event ul li:nth-child(4){
        margin-top: 0;
    }
    .event ul li a img{
        width: 100%;
        margin: 1rem 0 3.733rem 0;
    }
    .event .more{
        position: absolute;
        left: 12rem; top: 4.5rem;
    }
    .event .more img{
        width: 1.8rem; height: auto;
    }
}
.product{
    padding: 4.133rem 0 7.400rem 0;
    background-color: #0cd8cd;
}
.product h2{
    display: none;
}
.product ul li{
    float: left;
    width: calc(25% - 30px);
    margin: 0 2.667rem 0 0;
    background-color: #fff;
    border-radius: 40px 0 40px 40px;
    box-shadow: 0 0.667rem 0.667rem rgba(0, 0, 0, 0.1);
    background-position: right 10% bottom 5%;
    background-repeat: no-repeat; background-size: 171px auto;
}
.product ul li.pro1{
    background-image: url(../images/main/product1.png);
}
.product ul li.pro2{
    background-image: url(../images/main/product2.png);
}
.product ul li.pro3{
    background-image: url(../images/main/product3.png);
}
.product ul li.pro4{
    background-image: url(../images/main/product4.png);
}
.product ul li:nth-child(2),.product ul li:nth-child(4){
    margin-top: 2.533rem;
}
.product ul li:last-child{
    margin-right: 0;
}
.product ul li{
    transition: 0.1s;
}
.product ul li:hover{
    transform: translate(-0.667rem, -0.667rem);
    box-shadow: 0.667rem 1.333rem 0.667rem rgba(0, 0, 0, 0.1);
}
.product ul li a{
    display: block;
    padding: 4.133rem 2.667rem 3.200rem 2.667rem;
}
.product ul li a img{
    margin: 8.667rem 0 0 0;
}
.product ul li a h3{
    margin-bottom: 0.667rem;
    font-size: 1.567rem; line-height: 1.2;
    text-overflow: ellipsis; overflow: hidden;
}
.product ul li a h3 span{
    display: block;
    font-size: 1rem; font-weight: 400;
}
.product ul li a p{
    line-height: 1.5; height: 4.5em; overflow: hidden;
}
@media screen and (max-width:940px){
    .product ul li{
        width: calc(33.3% - 27px);
        margin: 0 2.667rem 0 0;
        background-size: 150px auto;
    }
    .product ul li a h3{
        font-size: 1.3rem;
    }
    .product ul li:last-child{
        display: none;
    }
    .product ul li:nth-child(3){
        margin-right: 0;
    }
    .product ul li a img{
        transform: scale(0.8,0.8);
    }
}
@media screen and (max-width:700px){
    .product ul li{
        width: calc(50% - 15px);
        margin: 0 2.000rem 0 0;
        background-size: 140px auto;
    }
    .product ul li a h3{
        font-size: 1.2rem;
    }
    .product ul li:nth-child(3){
        display: none;
    }
    .product ul li:nth-child(2){
        margin-right: 0;
    }
    .product ul li:nth-child(2){
        margin-top: 0;
    }
}
@media screen and (max-width:450px){
    .product ul li{
        width: 100%;
        margin: 0 2.000rem 0 0;
    }
    .product ul li:nth-child(2){
        display: none;
    }
    .product ul li{
        margin-right: 0;
    }
    .product ul li:nth-child(2),.product ul li:nth-child(4){
        margin-top: 0;
    }
}
