@charset "UTF-8";
/* 모든 태그 스타일 초기화 */
body,header,div,nav,section,h1,h2,h3,h4,h5,h6,p,footer,address,span,strong,ul,li,em,button,a,i,dl,dt,dd,ol,form,fieldset,legend,input,select,table,colgroup,col,thead,tbody,tfoot,tr,th,td{
    padding: 0;
    margin: 0;
    box-sizing: border-box;/*박스사이즈가 늘어나는 것을 막는다(넓이, 높이를 준 상태에서)*/
}
a{
    color: inherit;/*부모가 정의한 색상을 따른다*/
    text-decoration: none;
}
em,address{
    font-style: normal;/*폰트 눕지말라고 주는거*/
}
ul,ol,li{
    list-style: none;/*ul 앞 동그라미 삭제*/
}
form,input,textarea,button,select{
    color: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    letter-spacing: inherit;/*button은 폰트를 자동 상속 받지 않기 때문에 상속태그*/
}
fieldset{
    border: 0;
}
legend{
    display: none;
}
button{
    background-color: transparent;/*투명*/
    border: 0;
    cursor: pointer;
}
table caption{
    display: none;
}